body {
  background: rgb(65, 63, 60);
  background-image: url("/src/dictionary1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  font-family: "Roboto", sans-serif;
}

a {
  color: rgb(226, 219, 219);
  text-decoration: none;
}
a:hover {
  color: rgb(131, 128, 138);
}

.App {
  max-width: 760px;
  margin: 0 auto;
}
.App-header {
  margin: 45px 0;
}

.logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.footer {
  color: rgb(216, 212, 220);
  text-align: center;
}
@media (max-width: 576px) {
  .App-header {
    margin: 0;
  }

  .logo {
    max-width: 200px;
  }
}
