.Dictionary h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
}

.Dictionary section {
  background: rgb(223, 217, 217);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 1px 6px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}
.Dictionary input {
  width: 75%;
  border-radius: 6px;
  padding: 7px 5px;
  color: black;
  border: 1px solid rgb(92, 89, 89);
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
}
.submit-button {
  margin-left: 5px;
  background: rgb(104, 113, 116);
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
  color: white;
  font-family: "Roboto Slab", sans-serif;
}
.Dictionary .submit-button:hover {
  background: rgb(87, 118, 128);
}
@media (max-width: 576px) {
  .Dictionary h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .Dictionary section {
    padding: 10px;
    margin: 10px 0;
  }
}
