.Phonetic {
  margin: 20px 0;
}

.Phonetic .player {
  border: 1px solid #ddd;
  background: rgb(104, 113, 116);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic .player:hover {
  background: rgb(87, 118, 128);
}
